# VM artifacts — never commit these
lenv-artifacts/
*.qcow2
*.iso
*.vhdx
*.tape

# kernel/initrd blobs
vmlinuz*
initramfs*

# lenv runtime state
.lenv/

# Go build output
lenv.exe
lenv

# OS
.DS_Store
Thumbs.db